body {
  background-color: #212121;
}
h1 {
  color: aquamarine;
}
.buttons {
  width: 30%;
  height: 10vh;
  border: 2px solid rgb(0, 190, 190);
  border-radius: 5px;

  font-size: 4vh;
}
.buttons:active {
  scale: 0.98;
}
.buttons:hover {
  cursor: pointer;
}
