* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(69, 212, 212);
}
header {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 50px;
}
div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#heading {
  font-family: cursive;
  color: rgb(69, 212, 212);
  font-size: 50px;
  padding: 0;
  border-radius: 10px;
  transition: 1s ease all;
}

#heading:hover {
  color: rgb(107, 0, 0);
  font-size: 150px;
  box-shadow: 5px 5px 5px 5px gray;
  background-image: linear-gradient(170deg, gray, azure);
}
