* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

#img1 {
  left: 60%;
  width: 30vw;
  border-radius: 20px;
  position: absolute;
  align-items: center;
  top: 45px;
  transition: all 0.2s;
}

#img1:hover {
  transform: scale(1.01);
  box-shadow: -3px 1px 29.2px 4px rgb(129, 123, 123);
  /* transition: transform .2s; */
}
/* .sush-name {
  height: 50vh;
  width: 20vw;
  top: 40%;
} */
.bg-colorleft {
  width: 50vw;
  height: 35vh;
  position: relative;
  left: 3%;
  top: 7%;
  border: none;
  padding: 2vh 2vw;
  border-radius: 30px;
  box-shadow: -3px 1px 29.2px 4px rgb(90, 109, 127);
}
#quote {
  position: absolute;
  left: 2vw;
  width: auto;
  font-size: 5vh;
  font-weight: 300;
  color: rgb(10, 10, 10);
}
#name {
  font-size: 20px;
  width: auto;
  font-weight: 600;
  position: absolute;
  left: 33vw;
  top: 22vh;
  color: rgb(27, 27, 27);
}
.first {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgb(107, 160, 183), rgb(234, 245, 248));
}
#bio {
  position: relative;
  top: 10%;
  left: 5%;
  width: 50vw;
  height: 50vh;
}
.biography {
  color: rgb(70, 70, 222);
  text-decoration: underline;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
}
.biography::after {
  text-decoration: dotted;
}
.bio-content {
  height: 40vh;
  max-width: 765px;
  font-size: 20px;
}

#hobbies {
  border: 3px snow rgb(129, 123, 123);
  border-radius: 10px;
  box-shadow: -3px 1px 29.2px 4px rgb(129, 123, 123);
  width: 30vw;
  height: auto;
  position: absolute;
  top: 57%;
  left: 60%;
  padding: 25px 0 20px 0;
}
#hobbies_heading {
  margin-bottom: 20px;
  text-align: center;
}
#hobbies_list {
  text-align: center;
  list-style-type: none;
  color: rgb(32, 0, 70);
  margin-bottom: 20px;
}
.hobbies_items {
  font-weight: 200px;
}
#tribute {
  position: absolute;
  top: 1vh;
  left: 95%;
  display: inline-block;
  font-size: 70px;
  text-align: center;
}
#tribute_content {
  height: 90vh;
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: 5vw;
}
.second {
  height: 100vh;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  background: linear-gradient(90deg, rgb(229, 229, 229), rgb(234, 245, 248));
}
.net_worth {
  background-color: rgb(0, 93, 174);
}
.worth_content {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
}
.net_img {
  background-image: linear-gradient(
    220deg,
    rgb(129, 170, 187),
    rgb(255, 255, 255)
  );
}
.net_content1 {
  background-color: white;
  padding: 25px;
  color: rgb(0, 138, 180);
  font-weight: 600;
  margin-top: 35vh;
}
#net_content1_para {
  background-color: azure;
  border: 3px snow rgb(129, 123, 123);
  box-shadow: -3px 1px 32.2px -1px rgb(114, 222, 255);
  padding: 10px;
}
#net_image {
  width: 350px;
  position: absolute;
  top: 15vh;
  left: 64vw;
  transition: all 0.2s;
}
#net_image:hover {
  scale: 1.01;
  box-shadow: -3px 1px 29.2px 4px rgb(98, 210, 239);
}
.mov_heading,
.net_worth {
  font-size: 50px;
  font-weight: 700;
  padding: 5px;
  color: rgb(0, 106, 125);
  text-align: center;
  background-image: linear-gradient(
    90deg,
    rgb(107, 160, 183),
    rgb(212, 236, 243)
  );
}
.net_worth {
  background-image: linear-gradient(
    90deg,
    rgb(212, 236, 243),
    rgb(107, 160, 183)
  );
}
.movies {
  display: grid;
  background-color: rgb(252, 252, 252);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 12px;
  height: 88vh;
  column-gap: 12px;
}

.movie1 {
  position: relative;
  background-color: rgb(154, 201, 203);
  box-shadow: -3px 1px 29.2px 4px rgb(154, 201, 203);
  width: 96%;
  height: 90%;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.movie1:hover {
  scale: 1.01;
}
.movie_name {
  margin-left: 170px;
}
#mov_img1,
#mov_img2,
#mov_img3,
#mov_img4,
#mov_img5,
#mov_img6 {
  height: 19vh;
  position: absolute;
  top: 15%;
  left: 5%;
}

span {
  font-weight: 650;
  text-decoration: underline;
}
.third {
  height: 100vh;
  position: relative;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(231, 245, 249),
    rgba(136, 216, 239, 0.926),
    rgb(42, 124, 139)
  );
}
.awards {
  left: 44vw;
  color: rgb(1, 122, 156);
  position: absolute;
  display: inline-block;
  font-size: xxx-large;
  text-decoration: underline;
}
.award {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
  row-gap: 20px;
  justify-content: start;
  top: 10%;
  justify-items: center;
}

.award1 {
  width: 45vw;
  border: 5px solid rgb(42, 124, 139);
  border-radius: 10px;
  box-shadow: -3px 1px 29.2px 4px rgb(42, 124, 139);
  height: 40vh;
}

.award_img1 {
  width: 30vh;
  margin-top: 45px;
  margin-left: 30px;
  position: absolute;
  transition: all 0.2s;
}
.award_img1:hover {
  scale: 1.01;
  box-shadow: -3px 1px 29.2px 4px rgb(98, 210, 239);
}
.aw_cont {
  margin: 6vh 2vw 0 21vw;
  font-weight: 600;
}

#footer {
  position: absolute;
  top: 95vh;
  left: 2vw;
}
span[name="heart"] {
  color: red;
  text-decoration: none;
}
