* {
  padding: 0;
  margin: 0;
}
#first {
  font-family: "lora", serif;
  font-size: 100px;
  position: fixed;
  top: 15%;
  left: 15%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-right: 40px;
  padding-bottom: 40px;
}

#second {
  position: absolute;
  font-size: 100px;
  top: 40%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-right: 40px;
  padding-bottom: 40px;
  left: 20%;
}

#third {
  position: absolute;
  font-size: 100px;
  left: 35%;
  top: 65%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-right: 40px;
  padding-bottom: 40px;
}
#end-msg {
  bottom: 2%;
  right: 2%;
  position: absolute;
}

#gif {
  height: 70px;
  top: 90%;
  left: 1%;
  position: absolute;
  transition: all ease 0.25s;
}

#gif:hover {
  top: 80%;
  height: 150px;
}
#gif1 {
  height: 70px;
  top: 90%;
  left: 15%;
  position: absolute;
  transition: all ease 0.25s;
}

#gif1:hover {
  top: 80%;
  height: 150px;
}
#VS {
  position: absolute;
  top: 90%;
  left: 10%;
}
