body {
  margin: 0;
}
.navbar {
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid red;
  background-color: lightblue;
}
.list {
  list-style-type: none;
  color: white;
  padding: 0;
  margin: 0;
  display: inline;
  position: fixed;
  left: 70%;
}

.nav-item {
  display: inline-block;
  padding: 15px 15px 15px 15px;
  transition: background-color 0.25s, font-size 0.25s;
}
.nav-item:hover {
  background-color: rgba(46, 67, 164, 0.3);
  font-size: x-large;
}
a {
  text-decoration: none;
}
.first {
  position: absolute;
  margin: 0;
  padding: 0;
}
