* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#heading {
  display: inline-block;
}
#input {
  display: block;
  margin: 15px 0 15px 10px;
}
#result {
  display: block;
  margin: 15px 0 15px 10px;
}
